.roomCard {
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  opacity: 90%;
  text-align: center;
}

.roomCard > div > p {
  font-size: small;
}

.roomControl {
  display: grid;
  grid-template-areas:
    ". studio . onebed ."
    "twobed . premium . presidential";
}

#studio {
  grid-area: studio;
  width: 230px;
}

#onebed {
  grid-area: onebed;
  width: 230px;
}

#twobed {
  grid-area: twobed;
  width: 230px;
}

#premium {
  grid-area: premium;
  width: 230px;
}

#presidential {
  grid-area: presidential;
  width: 230px;
}

.selectLink {
  display: inline-block;
  background: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px auto;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
